//--itemPrd :padre
//--imgPrd :imagen
//--tittlePrd: nombre
//--datPrdA:ul datos
//--price: precio
//--stock
//--btnDetails

.--itemPrd{
    width: 38%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 0.5fr 0.5fr;
    grid-template-areas: "img" "titulo" "datos" "detailsBtn";
    justify-items: center;
    padding: 8px;
    border-style: solid;
    border-color: #5c5c5c;
    border-width: 0.1em;
    border-radius: 5%;

    .--imgPrd{
        display: block;
        margin-bottom: 2%;
        border-radius: 1%;
        width: 90%;
        grid-area: img;
    }
    .--tittlePrd{
        margin-bottom: 2%;
        grid-area: titulo;
        
    }
    .--datPrdA{
        margin-bottom: 2%;
        grid-area: datos;
        li{
            list-style-type:none;
        }
    }
    .--btnDetails{
        margin-bottom: 2%;
        grid-area: detailsBtn;
        border-style: none;
        padding: 0.5em 0.5em;
        border-radius: 0.5em;
        background-color: rgb(203, 76, 253);
    }
}