* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  padding: 0.3em;
  background-color: #1b1b1b;
  box-shadow: inset 0 0 10em 4em black;
  background-size: cover;
  min-height: 100vh; }

h1 {
  font-weight: 400;
  font-size: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #ffff00; }

h2, h3, h4, p, li {
  color: #5f5f5f; }

nav {
  background-color: white;
  margin: 1em 0; }

.nav_ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .nav_ul li {
    list-style-type: none;
    display: flex;
    justify-content: center; }

.--cardWidgetC {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .--cardWidgetC h3 {
    color: initial;
    margin-right: 0.5em; }
  .--cardWidgetC img {
    width: 2.5em; }

.--navOpY, .--navOpN {
  color: #ffffff00;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 5px; }

.--navOpY {
  border-color: #ebdc04; }

.--containerProducts {
  width: 100%;
  margin: 1em;
  flex-direction: row; }

.--totalData {
  margin: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  .--totalData .--divImgBox {
    width: 40rem;
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.5em; }
    .--totalData .--divImgBox .--imgPrd {
      border-radius: 1%; }
  .--totalData .--divDataBox {
    width: 40rem;
    margin-bottom: 0.5em;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "titulo" "lista" "datos" "contador";
    justify-items: center;
    gap: 1rem;
    background-color: #161616;
    border-radius: 1rem;
    box-shadow: #cb4cfd 0rem 0rem 0.5rem; }
    .--totalData .--divDataBox .--tittlePrd- {
      display: inline-block;
      margin-top: 0.5em;
      height: 1.5em;
      border-style: solid;
      border-left: none;
      border-right: none;
      border-top: none;
      border-width: 2px;
      border-color: #b6b602d5;
      grid-area: titulo; }
    .--totalData .--divDataBox .--datPrdA- {
      width: 90%;
      list-style-type: none;
      grid-area: lista; }
    .--totalData .--divDataBox .--especificacines {
      width: 90%;
      grid-area: datos; }
    .--totalData .--divDataBox .--botonContar {
      justify-self: center;
      grid-area: contador; }

.--botonContar {
  width: 120px;
  height: 70px;
  padding: 0.3em;
  background-color: #1d1d1b;
  border-radius: 8%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1.2fr;
  grid-template-areas: "sumar canti restar" "agregar agregar agregar";
  justify-content: center;
  align-items: center;
  border-style: none; }
  .--botonContar .--operationSum {
    width: 70%;
    height: 100%;
    border-radius: 50%;
    border-style: none;
    background-color: yellow;
    grid-area: sumar; }
  .--botonContar .--operationRest {
    width: 70%;
    height: 100%;
    border-radius: 50%;
    border-style: none;
    background-color: yellow;
    justify-self: self-end;
    grid-area: restar; }
  .--botonContar .--cantidad {
    text-align: center;
    grid-area: canti; }
  .--botonContar .--addCar {
    width: max-content;
    padding: 0.2em;
    font-size: 80%;
    grid-area: agregar;
    border-radius: 10%;
    border-style: none;
    background-color: yellow; }

.categorias {
  margin: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(255, 255, 0, 0.959);
  border-radius: 2%; }
  .categorias li {
    font-weight: 500;
    list-style-type: none; }
    .categorias li a {
      color: black; }

.catNot {
  text-decoration: none;
  border-bottom: 1px;
  border-color: #1f1f1f; }

.--containerProducts {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; }

.--itemPrd {
  width: 38%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 0.5fr 0.5fr;
  grid-template-areas: "img" "titulo" "datos" "detailsBtn";
  justify-items: center;
  padding: 8px;
  border-style: solid;
  border-color: #5c5c5c;
  border-width: 0.1em;
  border-radius: 5%; }
  .--itemPrd .--imgPrd {
    display: block;
    margin-bottom: 2%;
    border-radius: 1%;
    width: 90%;
    grid-area: img; }
  .--itemPrd .--tittlePrd {
    margin-bottom: 2%;
    grid-area: titulo; }
  .--itemPrd .--datPrdA {
    margin-bottom: 2%;
    grid-area: datos; }
    .--itemPrd .--datPrdA li {
      list-style-type: none; }
  .--itemPrd .--btnDetails {
    margin-bottom: 2%;
    grid-area: detailsBtn;
    border-style: none;
    padding: 0.5em 0.5em;
    border-radius: 0.5em;
    background-color: #cb4cfd; }

.opacityOn {
  opacity: 0.1; }

.boxForm {
  opacity: none;
  position: absolute;
  width: 99%;
  height: 81%;
  top: 19%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.boxForm__div {
  padding: 2em;
  width: 25rem;
  height: max-content;
  border-style: none;
  border-radius: 2rem;
  background-color: #1f1f1f;
  border: solid #bebebe 1px; }
  .boxForm__div .--form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "namee namee namee"
 "surname surname surname"
 "correo correo correo"
 "tel tel tel"
 "enviar -- cancel";
    row-gap: 0.5rem; }

#name {
  grid-area: namee;
  border-radius: 0.5rem;
  border-width: 1px;
  padding: 0.5em;
  background-color: #1f1f1f;
  color: #868686; }

#surname {
  grid-area: surname;
  border-radius: 0.5rem;
  border-width: 1px;
  padding: 0.5em;
  background-color: #1f1f1f;
  color: #868686; }

#correo {
  grid-area: correo;
  border-radius: 0.5rem;
  border-width: 1px;
  padding: 0.5em;
  background-color: #1f1f1f;
  color: #868686; }

#phone {
  grid-area: tel;
  border-radius: 0.5rem;
  border-width: 1px;
  padding: 0.5em;
  background-color: #1f1f1f;
  color: #868686; }

#submit {
  background-color: #cb4cfd;
  border-style: none;
  border-radius: 1em;
  grid-area: enviar; }

#cancel {
  background-color: #cb4cfd;
  border-style: none;
  border-radius: 1em;
  grid-area: cancel; }

.home {
  width: 100%;
  height: 80vh;
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch; }
  .home .__div {
    width: 40%;
    padding: 2em;
    border-style: solid;
    border-radius: 10%;
    border-color: #e9ff1e;
    text-align: center; }
  .home .img-home {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .home .img-home img {
      border-radius: 20% 50%; }

.--conteinerCar {
  height: 100%;
  display: grid;
  margin: 0 2%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas: "item item item" "vaciar total finalizar";
  justify-self: center; }
  .--conteinerCar .--itemContainer {
    overflow: auto;
    height: 74vh;
    grid-area: item; }
    .--conteinerCar .--itemContainer .--item {
      width: 100%;
      margin-bottom: 1em;
      padding: 0.5%;
      display: grid;
      grid-template-columns: auto 3fr;
      grid-template-rows: 2fr;
      grid-template-areas: "img ul" "img btn";
      align-items: center;
      column-gap: 1em;
      background-color: #0000006e;
      border-radius: 1em;
      border-style: solid;
      border-color: #ffff0086;
      border-width: 1px; }
  .--conteinerCar .--total {
    text-align: center;
    width: fit-content;
    padding: 1%;
    justify-self: center;
    grid-area: total;
    background-color: #fffff7;
    border-radius: 1rem; }
  .--conteinerCar .--btnVaciarCar {
    background-color: #d41e1e;
    border-style: none;
    width: fit-content;
    padding: 1% 10%;
    justify-self: center;
    border-radius: 1rem;
    grid-area: vaciar; }
  .--conteinerCar .--btnFinalCom {
    background-color: #cb4cfd;
    border-style: none;
    width: fit-content;
    padding: 1% 7.7%;
    justify-self: center;
    border-radius: 1rem;
    grid-area: finalizar; }

.--item .--datesUl {
  grid-area: ul;
  list-style-type: none; }

.--item .--imgCar {
  grid-area: img;
  width: 100px;
  border-radius: 0.5em; }

.--item .--deleteItemCar {
  width: 2rem;
  height: 2rem;
  border-style: none;
  border-radius: 4px;
  grid-area: btn;
  background-color: #e9782cfd; }
  .--item .--deleteItemCar img {
    width: 98%; }

.--NotCarContainer {
  height: 1vh;
  margin: 0 2%; }
  .--NotCarContainer .--notProd {
    display: inline-block;
    border: #ffff0086 solid;
    border-width: 1px;
    border-top: none;
    border-left: none;
    border-right: none; }
